<!DOCTYPE html>
<html lang='en' dir='ltr' xmlns:th="http://www.thymeleaf.org">
	<Head>
		<title>Cargo Project - Home</title>
		<meta charset='utf-8' />
		<meta name='keywords' content='Software development, academy, training, html, css, javascript' />
		<meta name='description' content='Introduction to html, css and javascript' />
		<meta name='viewport' content='minimum-scale=1.0, initial-scale=1.0' />
		<meta name='theme-color' content='#1888a8' />
		<link rel='icon' type='image/x-icon' href='../main/resources/static/images/icon.png' />
		<link rel='stylesheet' href='/css/cargo.css'>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous' />
	</Head>
	<body>	
		<header>
			<div>
					<a href='/' title='Home'>
						<i class='fas fa-home'></i>
					</a>
				<p class='brandName'><span>Cargo</span>Project</p>
			</div>
			<nav>
				<a href='/vehicle' title='Vehicle'>
					<i class='fas fa-truck'></i>
				</a>
				<a href='/cargo' class='activeMenu' title='Cargo'>
					<i class='fas fa-truck-loading'></i>
				</a>
				<a href='/register' title='Account'>
					<i class='fas fa-user-circle'></i>
				</a>
				<a href='/search' title='Search'>
					<i class='fas fa-search'></i>
                </a>
			</nav>


		</header>
		<section>
			<h4>Pending</h4>
			<table class="pendingTable">
				<tr>
					<th>User name</th>
					<th>Cargo id</th>
					<th>Vehicle id</th>
					<th>Comments</th>
					<th>accept order</th>
				</tr>
				<tr th:each="pending : ${pending}">
					<th th:text="${pending.user.userName}"></th>
					<td th:text="${pending.cargo.id}"></td>
					<td th:text="${pending.vehicle.id}"></td>
					<td th:text="${pending.comments}"></td>
					<td>
						<form action="#" th:action="@{/shipment/all/}">
							<input type="submit" value="ACCEPT" />
						</form>
					</td>
				</tr>
			</table>
		</section>
		<footer>
			<div>
				<p id='brandNameFoot' class='brandName'><span>Cargo</span>Project</p>
				<div>
					<span>
						<h5>COMPANY</h5>
						<a href='#'>About</a>
						<a href='#'>Contact Us</a>
						<a href='#'>Terms of Service</a>
						<a href='#'>Privacy Policy</a>
					</span>
					<span>
						<h5>SUPPORT</h5>
						<a href='#'>Help</a>
						<a href='#'>Documentation</a>
						<a href='#'>Customer Service</a>
					</span>
				</div>
			</div>
			<form method='post' action='register.php'>
				<h5>Subscribe to newsletters</h5>
				<input type='text' placeholder='name' />
				<input type='email' placeholder='email' />
				<input type='submit' value='Subscribe' />
			</form>
			<small>Copyright &copy; 2019</small>
		</footer>
	</body>
</html>
