<!DOCTYPE html>
<html lang='en' dir='ltr' xmlns:th="http://www.thymeleaf.org">
	<Head>
		<title>SDA Training - Home</title>

		<meta charset='utf-8' />
		<meta name='keywords' content='Software development, academy, training, html, css, javascript' />
		<meta name='description' content='Introduction to html, css and javascript' />
		<meta name='viewport' content='minimum-scale=1.0, initial-scale=1.0' />
		<meta name='theme-color' content='#1888a8' />
		<link rel='stylesheet' href='/css/vehicle.css'>
		<link rel='icon' type='image/x-icon' href='../main/resources/static/images/icon.png' />
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous' />
        <style type="text/css">
            .bidbutton{
                width: 50px;
                min-width: 50px;
            }
            form{
                min-width: 100px;
            }
        </style>
    </Head>
	<body>
		<!-- Page header -->
		<header>
			<div>
				<a href='/' title='Home'>
					<i class='fas fa-home'></i>
				</a>
				<p class='brandName'><span>Cargo</span>Project</p>
			</div>
			<nav>
				<a href='/vehicle' class='activeMenu' title='Vehicle'>
					<i class='fas fa-truck'></i>
				</a>
				<a href='/cargo' title='vehicle'>
					<i class='fas fa-truck-loading'></i>
				</a>
				<a href='/register' title='Account'>
					<i class='fas fa-user-circle'></i>
				</a>
				<a href='/search' title='Search'>
					<i class='fas fa-search'></i>
				</a>
			</nav>
		</header>

		<!-- Page content -->
		<section>
			<h4>Vehicle table</h4>
			<form method='get' action='/vehicle/findBySearchCriteria'>
				<select name="criteria">
					<option>Owner</option>
					<option>LoadingPlace</option>
					<option>PreferredDeliveryPlace</option>
					<option>ContainerType</option>
					<option>VehicleStatus</option>
				</select>
				<input type='text' name="name" placeholder='type your search' />
				<input type='submit' value='Search' />
			</form>
			<table class="vehicleTable">
				<tr>
					<th>Owned</th>
					<th>Location</th>
					<th>Delivery</th>
					<th>Container Type</th>
					<th>Status</th>
				</tr>
				<tr th:each="vehicle : ${vehicles}">
					<th th:text="${vehicle.user.userName}"></th>
					<td th:text="${vehicle.vehicleLocation}"></td>
					<td th:text="${vehicle.deliveryArea}"></td>
					<td th:text="${vehicle.capacity}"></td>
					<td th:text="${vehicle.status}"></td>
                    <td>
                        <form action="#" th:action="@{/pending}"> <!--+ ${cargo.id}-->
                            <input type="submit" class="bidbutton" value="BID" />
                        </form>
                    </td>
				</tr>
			</table>
			<div id='articleHolder'>
				<article>
					<h3></h3>
		
					<div>
						<span>
							<strong></strong>
							<small></small>
						</span>
						<span>
							<strong> </strong>
							<small></small>
						</span>
						<p></p>
						<a href='/vehicle'> Back to list </a>
						<a href='/vehicle/add'> Add Vehicle </a>
					</div>
				</article>
				<article>
					<h3></h3>
				
				</article>
				<article>
					
					
				</article>
			</div>
		</section>

		<!-- Page footer -->
		<footer>
			<div>
				<p id='brandNameFoot' class='brandName'><span>Cargo</span>Project</p>
				<div>
					<span>
						<h5>COMPANY</h5>
						<a href='#'>About</a>
						<a href='#'>Contact Us</a>
						<a href='#'>Terms of Service</a>
						<a href='#'>Privacy Policy</a>
					</span>
					<span>
						<h5>SUPPORT</h5>
						<a href='#'>Help</a>
						<a href='#'>Documentation</a>
						<a href='#'>Customer Service</a>
					</span>
				</div>
			</div>
			<form method='post' action='register.php'>
				<h5>Subscribe to newsletters</h5>
				<input type='text' placeholder='name' />
				<input type='email' placeholder='email' />
				<input type='submit' value='Subscribe' />
			</form>
			<small>Copyright &copy; 2019</small>
		</footer>
	</body>
</html>
